@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
  /* Set the height to 100% of the viewport */
  margin: 0;
  /* Remove any default margins */
  overflow: hidden;
  /* Prevent scrolling */
}
